# 01/24/2026

In [27]:
import pandas as pd
import sys
project_root = "/Users/sayalimoghe/Documents/Career/GitHub/conversational-book-recommendation-agent"
if project_root not in sys.path:
    sys.path.append(project_root)

%run /Users/sayalimoghe/Documents/Career/GitHub/conversational-book-recommendation-agent/common/constants.py
%run /Users/sayalimoghe/Documents/Career/GitHub/conversational-book-recommendation-agent/common/helpers.py
%run /Users/sayalimoghe/Documents/Career/GitHub/conversational-book-recommendation-agent/common/utils.py

## sql

In [17]:
import sqlite3
import pandas as pd

db_path = "/Users/sayalimoghe/Documents/Career/GitHub/conversational-book-recommendation-agent/data/database/system.db"
conn = sqlite3.connect(db_path)

In [ ]:
query = "SELECT * FROM sqlite_master WHERE type='table';"
pd.read_sql(query, conn)

,type,name,tbl_name,rootpage,sql
0,table,interactions,interactions,2,CREATE TABLE interactions (\n ...
1,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"

In [25]:
query = "SELECT * FROM interactions;"
pd.read_sql(query, conn)

    id         user_id  book_id   action  confidence                   ts
0    1  A1K1JW1C5CUSUZ    79317     like         1.0  2026-01-24 18:31:21
1    2  A1K1JW1C5CUSUZ   113979     like         1.0  2026-01-24 18:31:23
2    3  A1K1JW1C5CUSUZ    79317     like         1.0  2026-01-24 18:31:24
3    4  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:31:25
4    5  A1K1JW1C5CUSUZ    79317     like         1.0  2026-01-24 18:31:26
5    6  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:31:27
6    7  A1K1JW1C5CUSUZ   113979     like         1.0  2026-01-24 18:31:29
7    8  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:31:30
8    9  A1K1JW1C5CUSUZ   113979     like         1.0  2026-01-24 18:31:30
9   10  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:31:31
10  11  A1K1JW1C5CUSUZ    79317     like         1.0  2026-01-24 18:31:33
11  12  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:32:30
12  13  A1K1JW1C5CUSUZ    79317     like         1.0  2026-01-24 18:32:31
13  14  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:32:32
14  15  A1K1JW1C5CUSUZ    79317     like         1.0  2026-01-24 18:32:33
15  16  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:32:34
16  17  A1K1JW1C5CUSUZ   109444     like         1.0  2026-01-24 18:32:46
17  18  A1K1JW1C5CUSUZ   111330     like         1.0  2026-01-24 18:32:47
18  19  A1K1JW1C5CUSUZ    60251     like         1.0  2026-01-24 18:32:48
19  20  A1K1JW1C5CUSUZ    58373     like         1.0  2026-01-24 18:32:49
20  21  A1K1JW1C5CUSUZ    60251     like         1.0  2026-01-24 18:32:50
21  22  A1K1JW1C5CUSUZ    58373  dislike         0.0  2026-01-24 18:32:51
22  23  A1K1JW1C5CUSUZ   111330     like         1.0  2026-01-24 18:36:46
23  24  A1K1JW1C5CUSUZ    58373     like         1.0  2026-01-24 18:36:57
24  25  A1K1JW1C5CUSUZ   109444     like         1.0  2026-01-24 18:37:00
25  26  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:37:32
26  27  A1K1JW1C5CUSUZ    79317     like         1.0  2026-01-24 18:37:33
27  28  A1K1JW1C5CUSUZ    68627     like         1.0  2026-01-24 18:37:34
28  29  A1K1JW1C5CUSUZ    79317     like         1.0  2026-01-24 18:37:35

## data

In [35]:
%run /Users/sayalimoghe/Documents/Career/GitHub/conversational-book-recommendation-agent/ml_pipeline/stages/stage_1_data_preprocessing.py
%run /Users/sayalimoghe/Documents/Career/GitHub/conversational-book-recommendation-agent/ml_pipeline/stages/stage_3_matrices.py

In [33]:
books_df = safe_read_csv(PATHS["books"], DATA_PREPROCESSING["input_cols_books"])
catalog_books_df = clean_books_data(books_df)
ratings_df = safe_read_csv(PATHS["ratings"], DATA_PREPROCESSING["input_cols_ratings"])
clean_ratings_df = clean_ratings_data(ratings_df, catalog_books_df)

In [37]:
filtered_ratings_df = filter_min_max_interactions(clean_ratings_df)
unique_users = filtered_ratings_df["user_id"].unique()
unique_books = filtered_ratings_df["book_id"].unique()
len(unique_users), len(unique_books)

(18861, 12999)

In [ ]:
user_ratings = filtered_ratings_df[filtered_ratings_df["user_id"] == 'A1K1JW1C5CUSUZ']
user_ratings.shape

(488, 10)